html, body, .wrap {
	pading: 0;
	margin: 0;
	min-height: 100%;
	height: 100%
}

h4 { visibility: hidden; }

.wrap {
	position: absolute;
	height: 800px;
	min-height: 100%;
	width: 100%;
	margin-top:100px;
        display: block;
	background-image: url(../jvectormaps.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top center;
}

@media screen and (min-width:769px) {
.wrap ul {
	position: absolute;
	top: -5%;
	width: 100%;
	margin: 0 auto;
	display: block;
	height: 800px;
	padding:7.5% 20% 20%;
	box-sizing: border-box;
}

.empty {
	display: block!important;
	background: none;
}

.wrap li {
	width: 10%;
	float: left;
	height: 6vw;
	margin: 2% 2%;
	list-style: none;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	border-radius: 50%;
	/*background: radial-gradient(#2da868,#024c4f);*/
}
.wrap a {
	display: block;
	width: 85%;
	margin: 0 auto;
	height: 100%;
	color: #000000;
	font-weight: 700;
	font-size: .9vw;
	text-align: center;
	text-decoration: none
}
.flag-icon-background {
	background-size: cover
}
}
@media screen and (max-width:768px) {
body {
	background: linear-gradient(to right, #024c4f, #2da868);
}
.wrap {
	position: absolute;
	width: 100%;
	display: block;
	background-image: none;
}
.wrap ul {
	display: block;
	width: 70%;
	margin: 0 15%;
	height: 1000px;
	padding: 0;
	box-sizing: border-box;
}
.wrap li {
	width: 50%;
	/*height: 20vw;*/
	margin-bottom: 15px;
	/*padding:0;*/
	float: left;
	list-style: none;
	box-sizing: border-box;
	/*border:solid thin #ccc;*/
	/*border-radius: 50%;*/
	/*background: radial-gradient(#2da868,#024c4f);*/
}
.wrap a {
	display: block;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: inherit;
	line-height: 8vw;
	color:#FFF;
	text-decoration: none;
}

h4 { visibility: visible; text-align: center;
	font-size: 1.8em;
	color:#FFF}

}
.empty {
	display: none;
}

@media only screen and (min-device-width: 480px)
and (max-device-width: 768px)
and (orientation: landscape) {
	li{
		width: 33%!important;
	}
}
